* @lzocateli

/.github/ @lzocateli
/.github/CODEOWNERS @lzocateli
/.github/workflows/ @lzocateli
/backend/ @lzocateli
/contracts/ @lzocateli
/deploy/ @lzocateli
/docs/ @lzocateli
/frontend/ @lzocateli
/tools/ @lzocateli
