.git
.github
.vscode
**/.env
**/.env.*
**/bin
**/obj
**/TestResults
artifacts
backend/tests
deploy/keycloak/.build
deploy/keycloak/.tmp
frontend/**/node_modules
frontend/**/node_modules
frontend/**/dist
frontend/**/.angular
docs
*.user
*.suo