.git
.github
**/bin
**/obj
**/.vs
**/.vscode
**/.env
**/.env.*
*.user
*.suo
image.png
teste.md.git
.github
.vscode
**/.env
**/.env.*
**/bin
**/obj
**/TestResults
frontend
docs
*.user
*.suo
!frontend/
!frontend/web/
!frontend/web/**
!frontend/libs/
!frontend/libs/design-system/
!frontend/libs/design-system/**